.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.body {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--button); 
}

p, h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

:root {
--navy-blue: #2E2F42;
--white: #FFFFFF;
--hover: #404BBF;
--button: #434455;
--portfolio-btn: #F4F4FD;
--font-family:'Roboto',sans-serif; 
--iris:#4D5AE5;
--font-weith-low:400;
--font-weith-top:500;
--font-weith-logo:800;
--font-weith-text:700;
--font-size-logo:18px;
--font-size-btn:16px;
--customers-col:#8e8f99;
--transition-dur-func:250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*===================0px-1199px=====================*/

@media screen and (min-width: 1158px) {
    .container {
    width: 1158px;
    } 
}

@media screen and (max-width: 1158px) {
    .section-gallery {
    display: none;
    } 
}

@media screen and (max-width: 1157px) {
    .modal-button {
        display: none;
    }
    }
/*===================0px-767px-Mobile=====================*/
@media screen and (max-width: 728px) {
    .container {
        width: 428px;
}
}

@media screen and (max-width: 767px) {
    .menu-list {
        display: none;
    }

    .mobile-menu-open {
        stroke: var(--navy-blue);
        height: 22px;
        background-color: transparent;
        border: none;
    }

    .page-header {
        border-bottom: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .header-cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .menu-list {
        display: none;
    }
}

/*===================Mobile-Menu=====================*/
.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 40px 40px;
}
    .mobile-menu-open {
        display: block;
        width: 32px;
        height: 22px;
        border-color: transparent;
        margin-left: auto;
    }
    .mobile-menu-open_icon {
    stroke: var(--navy-blue);
    }

    .mobile-menu {
        position: fixed;
        flex-direction: column;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        background: var(--white);
        top: 0;
        left: 0;
        transform: translateY(100%);
        pointer-events: none;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
        background: var(--white);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .mobile-menu.is-open {
        pointer-events: auto;
        position: fixed;
        width: 100%;
        height: 100px;
        opacity: 1;
        visibility: visible;  
}

@media screen and  (min-width: 428px) {
    .mobile-menu-container {
        width: 428px;
        margin: 0 auto;
    }
}
        .adr-header {
            display: none;
        }
        

        .menu-link{
                color: var(--navyblue, #2E2F42);
                font-size: 36px;
                font-family: var(--font-family);
                line-height: 1.11;
                letter-spacing: 0.72px;
            }
        .mob-menu-adress-link {
                display: block;
            color:  #434455;
            font-size: 20px;
            font-family: var(--font-family);
            font-weight: var(--font-weith-top);
            line-height: 1.2;
            letter-spacing: 0.4px;
            margin-bottom: 48px;
            }

            .mob-menu-button-link {
                margin-bottom: 40px;
                color: var(--iris);
                font-size: 36px;
                font-family: var(--font-family);
                font-weight: 700;
                line-height: 1.11;
                letter-spacing: 0.72px;
                }

            .mob-cos-links {
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                width: 100%;
                height: 100%;
                background-color: #4D5AE5;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                }    
            .mob-cos-svg {
                fill: #F4F4FD;
            }

            .mob-cos-list {
                display: flex;
                gap: 56px;
                justify-content: center;
                margin-bottom: 40px;
            }
            .mob-menu-adress {
                font-style: normal;
            }

            .mob-menu-item:not(:last-child) {
                margin-bottom: 40px;
                    }

            .mobile-menu-close-button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                margin-left: auto;
                margin-bottom: 32px;
                top: 24px;
                right: 24px;
                border-color: transparent;
                

                border-radius: 24px;
                border: 1px solid var(--navyblue, #2E2F42);
                opacity: 0.10000000149011612;
                background: #E7E9FC;
                cursor: pointer;
                    }

            .mobile-menu-close-icon {
                fill: var(--navy-blue);
            }
/*===================HERO=====================*/
            .hero-main {
                margin: 0 auto;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                url(../images/mob/hero-bg-mob.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
}
            .hero-bg {
                    padding: 188px 0;
                }
            
            .hero-text {
                    margin: 0 auto;
                    font-family: var(--font-family); 
                    font-size: 36px;
                    line-height: 1.11;
                    text-align: center;
                    letter-spacing: 0.72px;
                    color: var(--white);
                    margin-bottom: 72px;
                    max-width: 320px;
                }
            
            .hero-button {
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    border: none;
                    margin: 0 auto;
                    display: block;
                    align-items: center;
                    padding: 16px 32px;
                    align-items: flex-start;
                    gap: 10px;
                    cursor: pointer;
                    font-family: var(--font-family);
                    font-weight: var(--font-weith-top);
                    font-size: var(--font-size-btn);
                    height: 56px;
                    min-width: 169px;
                    line-height: 1.50; 
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    letter-spacing: 0.64px;
                    color: var(--white);
                    background: var(--iris);
                
                }
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero-main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
            url(../images/mob/hero-bg-mob-2x.jpg);
                    }
                    }

        
    
/*===================TABLET=====================*/
@media screen and (min-width:768px) {
    .container {
        width: 768px;
}
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .mobile-menu-open {
        display: none;
    }
}
    .header-cont {
        align-items: center;
        display: flex;
        height: 72px;
    }

    .modal-button {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-family: var(--font-family); 
        font-weight: var(--font-weith-low);
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.48px;
        color: var(--button);
        font-style: normal;
    }

    .modal-button {
        display: block;
        padding: 16px 0;
    }
    
    .modal-button:hover,
    .modal-button:focus {
        color: var(--hover);
    }
    
    .adr-header {
        display: block;
        flex-direction: column;
        gap: 12px;
    }

    .page-navigation {
        display: flex;
        align-items: center;
        margin-right: 120px;
    }

        
    .menu-link {
            position: relative;
            font-family: var(--font-family);
            font-weight: var(--font-weith-top);
            font-size: var(--font-size-btn);
            line-height: 1.50;
            letter-spacing: 0.02em;
            background-color: var(--navy-blue);
            transition: cubic-bezier(0.4, 0, 0.2, 1);
        }
    .current::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
    
        .menu-link:hover,
        .menu-link:focus,
        .menu-link.current {
            color: var(--hover);
        }
        
        .menu-link:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            border-radius: 2px;
            transform: scaleX(0);
            width: 100%;
            height: 4px;
            background: #404BBF;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .menu-link:hover:after,
        .menu-link:focus:after,
        .menu-link.current:after {
            transform: scaleX(1);
        }

        .last-link {
            margin-right: 0;
        }

        .logo {
            font-family: "Raleway", sans-serif;
            font-weight: var(--font-weith-logo);
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--iris);
            display: flex;
            align-items: center;
            margin-right: 120px;
        }
        
        .logo-studio {
            font-family: "Raleway", sans-serif;
            font-weight: var(--font-weith-logo);
            font-size: var(--font-size-logo);
            line-height: 21px;
            display: flex;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--navy-blue); 
        }

        .hero-main {
            margin: 0 auto;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
            url(../images/tablet/hero-bg-tab.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 436px;
        }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/tablet/hero-bg-tab-2x.jpg);
}
}
        .hero-bg {
            padding: 112px 0;
        }

        .hero-text {
            margin: 0 auto;
            font-family: var(--font-family); 
            font-size: 56px;
            line-height: 1.07; 
            text-align: center;
            letter-spacing: 1.12px;
            color: var(--white);
            margin-bottom: 36px;
            max-width: 496px;
        }
/*===================OUR TEAM_TABLET=====================*/
@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        column-gap: 24px;
        row-gap: 64px;
    }
}

/*===================DESKTOP=====================*/
@media screen and (min-width: 1440px) {
    .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media screen and (min-width:1158px) {
    .header-cont {
    justify-content: flex-start;
    }

    .page-header {
        border-bottom: 1px solid #E7E9FC;
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    } 
    .current {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-button {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-family: var(--font-family); 
        font-weight: var(--font-weith-low);
        font-size: var(--font-size-btn);
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--button);
        font-style: normal;
    }
    .modal-button {
        display: block;
        padding: 24px 0;
    }
    
    .modal-button:hover,
    .modal-button:focus {
        color: var(--hover);
    }
    
    .adr-header {
        display: flex;
        gap: 40px; 
    }

    .hero-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/hero/people-office.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/desktop/people-office-2x.jpg);
    }
    }
}
/*===================SECTION_GALLERY_DESKTOP=====================*/

@media screen and (min-width:1158px) {
    .section-gallery {
        padding: 120px; 
    }
}

/*===================SECTION_OUR-TEAM_DESKTOP=====================*/

@media screen and (min-width:1158px) {
    .section-our-team {
        padding: 120px; 
    }

    .team-list {
        column-gap: 24px;
        row-gap: 24px;
    }
}
