
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.body {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--button); 
}

p, h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.no-scroll  {
    overflow: hidden;
}
:root {
--cornflower:var(--cornflower);
--navy-blue: #2E2F42;
--ocean: #404BBF;
--white: #FFFFFF;
--hover: #404BBF;
--button: #434455;
--portfolio-btn: #F4F4FD;
--font-family:'Roboto',sans-serif; 
--iris:#4D5AE5;
--font-weith-low:400;
--font-weith-top:500;
--font-weith-logo:800;
--font-weith-text:700;
--font-size-logo:18px;
--font-size-btn:16px;
--customers-col:#8e8f99;
--transition-dur-func:250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile-current {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* @media screen and (max-width: 767px) {
    .container {
    min-width: 320px;
    max-width: 428px;
    }
} */


@media screen and (max-width: 767px) { 
.menu-list {
    display: none;
}
.adr-header {
    display: none;
}
}

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    } 
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
}

@media screen and (min-width: 768px) {
    .menu-list {
        display: flex; 
        gap: 40px; 
    }
    .page-navigation {
        display: flex;
        align-items: center;
    }
    
    .address-header {
        margin-left: auto;
    }

    .adr-header {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .hero-bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 36px;
    }
    .current {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-cont {
        align-items: center;
        display: flex;
    }
    }
    
    @media screen and (min-width: 1158px) {
        .adr-header {
            display: flex;
            align-items: center;
            flex-direction: inherit;
            justify-content: right;
            gap: 40px; 
        }
        .address-header {
            display: flex;
            align-items: center;
        }
        .address-mail-btn {
            display: flex;
            align-items: center;
        }
    
        }
    
    .page-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

/*===================HEADER======================*/

@media screen and (max-width: 767px) {
    .header-cont {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
    .logo { 
        margin-right: 76px;
} 
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    display: flex;
    align-items: center;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: var(--font-weith-logo);
    font-size: var(--font-size-logo);
    line-height: 21px;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue); 
}
@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }

    .menu-link {
        position: relative;
        font-family: var(--font-family);
        font-weight: var(--font-weith-top);
        font-size: var(--font-size-btn);
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }
    .menu-link {
        display: block;
        padding: 24px 0;
    }
    
    .menu-link:hover,
    .menu-link:focus,
    .menu-link.current {
        color: var(--hover);
    }
    
    .menu-link:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        transform: scaleX(0);
        width: 100%;
        height: 4px;
        background: #404BBF;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-link:hover:after,
    .menu-link:focus:after,
    .menu-link.current:after {
        transform: scaleX(1);
    }
    .last-link {
        margin-right: 0;
    }

    .modal-button {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--slate, #434455);
        font-size: 12px;
        font-family: var(--font-family);
        line-height: 1.16;
        letter-spacing: 0.48px;
        font-style: normal;
    }

    .modal-button {
        display: block;
        margin: 0 auto;
    }
    
    .modal-button:hover,
    .modal-button:focus {
        color: var(--hover);
    }
}

@media screen and (min-width: 1158px) {
    .modal-button {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        font-style: normal;
    }
}

.hero-main {
    padding: 112px 0px 112px;
}

.hero-main {
    background-color: var(--dark-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 428px;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/mob/hero-bg-mob-2x.jpg);
        }
        }

@media screen and (min-width: 768px) {
.hero-main {
    background-color: var(--dark-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/tablet/hero-bg-tab.jpg);
    max-width: 768px;
    height: 436px;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/tablet/hero-bg-tab-2x.jpg);
        }
        }
}

@media only screen and (min-width: 769px) {
    .hero-main {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/people-office.jpg");
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url("../images/desktop/people-office-2x.jpg");
    }
}
}


@media screen and (min-width: 1158px) {
    .hero-main {
    padding: 188px 0;
    
    max-width: 1440px;
    height: 600px;
    }

    .hero-bg {
        gap: 48px;
    }
    }
    
.hero-text {
    margin: 0 auto;
    font-family: var(--font-weith-text);
    font-size: 36px;
    line-height: 1.11; 
    text-align: center;
    letter-spacing: 0.72px;
    color: var(--white);
    max-width: 496px;
}

@media screen and (max-width: 767px) {
    .hero-text {
        max-width: 320px;
    }
}
@media screen and (min-width: 768px) {
.hero-text {
color: var(--white);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
margin: 0 auto;
}
.hero-button {
    margin-top: 36px;
}
}

.hero-button {
    text-align: center;
    transition: background-color var(--transition-dur-func);
    border: none;
    margin: 0 auto;
    display: block;

    font-family: var(--font-family);
    font-weight: var(--font-weith-top);
    font-size: var(--font-size-btn);
    height: 56px;
    min-width: 169px;

    
    line-height: 1.50; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--iris);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer
}

@media screen and (max-width:767px ) {
    .hero-button {
        margin-top: 72px;
    }
}



.hero-button:hover,
.hero-button:focus {
    background: var(--hover);
}

/* STRATAGY-section */

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .strategy-section {
    display: flex;
}
    .strategy-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    }

    .item-strategy {
        width: calc((100% - 24px) / 2);
    }
}

.section-our-team {
    background-color: var(--portfolio-btn);
}

/* @media screen and (max-width: 1157px) {
    .heading-title {
text-align: center;
    }
} */

@media screen and (max-width: 767px) {
    .item-strategy:not(:last-child) {
        margin-bottom: 72px;
    }
}

.strategy-section {
    padding-bottom: 96px;
    padding-top: 96px;
}

@media screen and (max-width: 1157px) {
    .icon-strategy {
        display: none;
    }
}

.heading-title {
color: var(--navyblue, #2E2F42);
font-size: 36px;
font-family: Roboto;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.subheading-title {
color: var(--button);
font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 
@media screen and (min-width: 1158px) {
    .strategy-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .strategy-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .item-strategy {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    
    .icon-strategy{
        background: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        }
    }

/* section-GALLERY*/

.section-gallery {
    display: flex;
    text-align: center;
    padding-bottom: 120px; 
}

    @media screen and (max-width: 1157px) {
    .section-gallery {
        display: none;
    }
}

.headline-title {
    margin-bottom: 72px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .galary-list {
    text-align: center;
}
    }
    
.galary-list {
    display: flex;
    gap: 24px;
}

.gallery-photo {
    display: block;  
    width: 100%; 
    height: auto; 
}
/* section-OUR-TEAM */
.top-text {
    margin-bottom: 8px;
}

.low-text {
    margin-bottom: 8px;
}


@media screen and (max-width: 767px) {

    .team-list {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 72px;
        margin-bottom: 0;
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;
    }
    .item-our-team {
        flex-basis: calc((100% - 24px) / 3);
    }

    .photo-our-team {

        display: block;
        max-width: 100%; 
        height: auto; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }
}

@media screen and (min-width:768px) {

    .section-our-team {
        display: flex;
        gap: 24px;
        padding: 96px 0 96px;
    }
}

.section-our-team {
        padding: 96px 0 96px;
    }

@media screen and (min-width:1158px) {
        .section-our-team {
        padding: 120px 0 120px;
    }
}


.team-top-text {
    margin-bottom: 72px;
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.item-our-team {
    max-width: 264px;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.block-team {
    padding: 32px 16px;
}

.heading-title {
color: var(--navy-blue);
text-align: center;
font-size: 20px;
font-family: var(--font-family);
line-height: 1.2;
letter-spacing: 0.4px;
}

.subheading-title {
color: var(--button);
text-align: center;
font-size: 16px;
font-family: var(--font-family);
line-height: 1.5;
letter-spacing: 0.32px;
}


@media screen and (max-width: 1157px) {
    .heading-title {
        font-weight: 700;
}

.font {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 8px;
}
}

@media screen and (max-width: 767px) {
    .font {
        text-align: center;
    }
}

@media screen and (max-width: 1157px) {
    .stratrgy-low-text {
        text-align: left;
    }
}


@media screen and (min-width: 1158px) {
    .heading-title {
    display: flex;
    text-align: left;
    margin-bottom: 8px;
    }
    
    .subheading-title {
    display: flex;
    text-align: left;
    max-width: 264px;
    font-weight: 400;
    }
    }

@media screen and (max-width: 1157px) {
.low-text {
    font-weight: 400;
}
}

@media screen and (min-width: 1158px) {
    .block-team {
        display: flex;
        text-align: center;
        padding: 32px 16px;
        flex-direction: column;
        align-items: center;
    }
}
.team-cos-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-cos-item {
    width: 40px;
    height: 40px;
}

.social-links {
    transition: background-color var(--transition-dur-func);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
}

.social-links:hover,
.social-links:focus {
    background-color: #404bbf; 
}

.team-svg {
    fill: #F4F4FD;
}



/* CUSTOMERS */
@media screen and (max-width: 767px) {
    .section-customers { 
    padding: 96px 16px;
    }
}
@media screen and (min-width: 768px) {
    .section-customers {
        padding: 96px 16px;
    }

    .section-customers {
        min-width: 584px;
    }
}


.customers-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-col);
}
.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    color: #404bbf; 
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}




.customers-title {
    font-weight: var(--font-weith-text);
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    }



    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        column-gap: 16px;
        row-gap: 72px;
    }

    .customers-item {
        width: calc((100% - 16px) / 2);
        height: 88px;
    }

@media screen and (min-width:768px) {
    .customers-item {
        width: calc((100% - 24px) / 4);
        height: 88px;
        max-width: 168px;
        }
    }

@media screen and (min-width: 768px) and (max-width: 1157px) {

.customers-list {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;

        align-items: center;
        justify-content: center;

        }
    }

@media screen and (min-width: 1158px) {
    .section-customers {
        padding-top: 120px;
        padding-bottom: 120px;
}

.customers-list {
        display: flex;
        gap: 24px;
}

.customers-item {
        width: calc((100% - 120px) / 6 );
        height: 88px;

}

    }
    
    /* FOOTER */

    
@media screen and (min-width: 768px) and (max-width: 1157px)  {

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 582px;
    margin-bottom: auto;
        }

.subscribe-cont {
    margin-left: 0;
        }
        }

.foot-block {
    @media screen and (min-width: 768px) {
        flex-basis: 50%;
            }
        }

.footer-line {
    background-color:var(--navy-blue);
    padding: 96px 0 96px;
    margin: 0 auto;
            }

@media screen and (min-width: 798px) {
    .footer-line {
        padding: 96px 108px;
            }
}
.footer-line {
    padding: 96px 0 96px;
    display: block;
    width: 100%;
}

.logo-studio-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: var(--font-weith-logo);
    font-size: var(--font-size-logo);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--portfolio-btn);
        }
        
.logo-foot {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-bottom: 16px;
        }

@media screen and (max-width: 767px) {
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
    min-width: 320px;
    flex-wrap: wrap;
    text-align: center;
            }

.foot-block {
    display: flex;
    flex-direction: column;
    align-items: center;
            }

.footer-tagline {
    max-width: 264px;
            }

.footer-cos {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
            }
        }

.footer-cos-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    }

.foot-cos-item {
    width: 40px;
    height: 40px;
    }

.footer-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.footer-links:focus,
.footer-links:hover {
    background-color: #31D0AA;
}

.footer-tagline {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
}

@media screen and (max-width: 767px) {
    .footer-tagline {
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .social-text {
display: flex;
margin-bottom: 16px;
}
}

.social-text {
    text-align: center;
    color: var(--white);
    font-weight: var(--font-weith-top);
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.32px;
    text-align: center;
    }

    .svg-foot {
        fill: #F4F4FD;
    }

    @media screen and (min-width: 1158px) {
        .footer-line {
            padding: 100px 0;
            display: flex;
            align-items: baseline;
            justify-content: center;
        }
        .footer-container {
            max-width: 1158px;
            display: flex;
            align-items: baseline;
            flex-wrap: nowrap;
        }

        .foot-block {
            margin: 0 120px 0 0;
        }

        .logo-foot {
        margin-bottom: 16px;
        }

        .footer-cos {
            margin-right: 80px;
        }
        .form-sbsc {
        flex-wrap: nowrap;
        }


    }
/* subscribe */


@media screen and (max-width: 767px) { 
    .subscribe-email-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .send-subscribe { 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 16px;
    }
}

@media screen and (max-width: 767px) {
.subscribe-cont {
display: flex;
flex-direction: column;
justify-content: space-between;
justify-content: center;
align-items: center;
margin-left: 0;
}
}

@media screen and (max-width: 767px) {
    .form-sbsc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 768px) {
    .form-sbsc {
    display: flex;
    gap: 24px;
    
}

.subscribe-cont {
    display: block;
    justify-content: center;
    align-items: center;
    }
}


.subscribe-text {
    font-weight: var(--font-weith-top);
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    }

.subscribe-email-btn {
    width: 100%;
    display: block;
    line-height: 1.5;
    background-color: transparent;
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: var(--font-weith-low);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    padding-left: 16px;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        
        } 
.subscribe-label {
    width: 100%;
}

@media screen and (min-width: 428px) {
    .subscribe-email-btn {
        width: 398px;
    } 
}

@media screen and (min-width: 768px){
.subscribe-email-btn {
        width: 264px;
    } 
}

@media screen and (min-width: 1158px) {
.subscribe-email-btn {
        width: 264px;
    } 
}

.send-subscribe {
    background: #4D5AE5;
    padding: 0;        
    color: #FFFFFF;
    fill: #FFFFFF;
    font-weight: var(--font-weith-top);
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition-dur-func);
        }
        
    .btn-subscribe-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
        }

@media screen and (min-width: 1158px) {
    .subscribe-label {
        width: 264px;
    }
}
/* <!--MOBILE_MENU--> */
.mob-link.mobile-current {
color: var(--ocean);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--white);
    padding: 80px 24px 40px 40px;

    overflow: auto;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu:hover .mobile-menu-open ,
.mobile-menu:focus .mobile-menu-open {
    transform: translate(0 0);
}

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
}
@media screen and (min-width: 768px) {
    .menu-open-btn {
        display: none;
    }
}

.menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.icon-burger {
    stroke: #2e2f42;
    top: 24px;
    right: 24px;
}

.mob-link .current {
    color: var(--ocean);
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: auto;
}



.mobile-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-left: auto;
    margin-bottom: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;


    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--cornflower);

    cursor: pointer;
    transition: var(--transition-dur-func);
}

.mob-link {
color: var(--navy-blue);
font-size: 36px;
font-family: var(--font-family);
font-weight: var(--font-weith-text);
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.mob-menu-adress {
    font-style: normal;
}

.list-mob-adress {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}
.mob-tel-link {
display: block;

color: var(--iris, #4D5AE5);
font-size: 36px;
font-family: var(--font-family);
font-weight: var(--font-weith-text);
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.mob-email-link {
    color: var(--button);
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: var(--font-weith-top);
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.mob-cos-list {
    display: flex;
    gap: 56px;
}



@media screen and (max-width: 320px) {
    .phone-numb {
        font-size: 24px;
    }

    .mob-cos-list {
        display: flex;
        gap: 26px;
    }
}

.mob-cos-item {
    width: 40px;
    height: 40px;
}
.mob-cos-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-cos-links:focus,
.mob-cos-links:hover {
    background-color: #31D0AA;
}
.mob-cos-svg {
    fill: #F4F4FD;
}


/*===================MODAL======================*/
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(46, 47, 66, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 90%;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 24px;
}
.modal-close:hover,
.modal-close:focus {
    background: #404BBF;
    border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #FFFFFF;
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-col);
    display: block;
    margin-bottom: 4px; 
}

.modal-field {
    margin-bottom: 8px;
}

.modal-title {
font-weight: var(--font-weith-top);
font-size: 16px;
line-height: 1.50;  
text-align: center;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 16px;
margin-left: auto;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 20px;
    color: var(--navy-blue);
    outline: transparent;
    padding-left: 38px;
    background-color: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input::placeholder, 
.modal-comment::placeholder {
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);
}

.modal-comment {
width: 100%;
height: 120px;
padding: 8px 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
color: var(--navy-blue);
resize: none;
outline: transparent;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
outline: transparent; 
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-comment {
font-weight: 400;
font-size: 12px;
line-height: 1.16; 
letter-spacing: 0.01em;
color: #8E8F99;
}

.model-form-input-desc {
font-weight: var(--font-weith-low);
font-size: 12px;
line-height: 1.16; 
letter-spacing: 0.04em;
color: #8E8F99;
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-wrap {
    position: relative;
}

.modal-field-div {
    margin-bottom: 16px;
}

.modal-field-privacy {
    margin-bottom: 24px;
}

.link-privacy {
    color: var(--iris);
}
/*===================checkbox======================*/

.check-text {
    font-weight: var(--font-weith-low);
    font-size: 12px;
    line-height: 1.17;  
    letter-spacing: 0.04em;
    color: var(--customers-col);
    align-items: center;
    justify-content: center;
    line-height: 1.17; 
}

.check-text span {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
align-items: center;
justify-content: center;
fill: transparent;
}

.modal-check:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-form-checkbox {
    display: inline-flex;
}

.modal-form-checkbox {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family); 
    font-weight: var(--font-weith-top);
    font-size: var(--font-size-btn);
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    border: none;
    background-color: #4D5AE5;
    cursor: pointer;
    height: 56px;
    border-style: none;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    color: var(--hover);
}

/*===============PORTFOLIO MAIN SECTION==================*/

/* .main-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    margin-bottom: 8px;
} */

/* .main-section {
    padding: 96px 0 120px;
}

@media screen and (max-width: 767px) {
        .main-section {
            padding: 48px 0 48px;
        }
        .photo-container {

    }
} */

.menu-link {
    display: block;
}
.portfolio-btn {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 12px 24px 12px;
font-family: "Roboto", sans-serif; 
color: var(--iris);
font-size: var(--font-size-btn);
line-height: 1.50; 
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
border-radius: 4px;
background: var(--portfolio-btn);
cursor: pointer;
font-weight: 500; 
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
min-width: 116px;
height: 48px;
justify-content: center;
}

.list-button {
display: flex;
gap: 24px;
justify-content: center;
margin-bottom: 72px
}

/* @media screen and (max-width: 767px) {
    .list-button {
    margin-bottom: 48px;
    flex-wrap: wrap;
    justify-content: flex-start;
    }

    .li-btn-portfolio {
width: calc((100% - 24px) / 3);
    }
    
} */

.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--hover);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
    transform: translateY(0%);
}

.link-block {
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-block:focus .overlay {
    transform: translateY(0%);
}

.link-block:hover,
.link-block:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0; 
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.img-portfolio {
    display: block;
    max-width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--transition-dur-func);
    background: var(--iris);
    font-weight: var(--font-weith-low);
    height: 100%;
    width: 100%;
    font-size: var(--font-size-btn);
    line-height: 1.50; 
    letter-spacing: 0.02em;
    color: var(--portfolio-btn);
    padding: 40px 32px;
    overflow: auto;
}
.img-portfolio-wrapper {
position: relative;
overflow: hidden;
}

.portfolio-photo {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/*===============/PORTFOLIO MAIN SECTION==================*/