
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.body {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--button); 
}

p, h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.no-scroll  {
    overflow: hidden;
}
:root {
--navy-blue: #2E2F42;
--ocean: #404BBF;
--white: #FFFFFF;
--hover: #404BBF;
--button: #434455;
--portfolio-btn: #F4F4FD;
--font-family:'Roboto',sans-serif; 
--iris:#4D5AE5;
--font-weith-low:400;
--font-weith-top:500;
--font-weith-logo:800;
--font-weith-text:700;
--font-size-logo:18px;
--font-size-btn:16px;
--customers-col:#8e8f99;
--transition-dur-func:250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) { 
.menu-list {
    display: none;
}
.adr-header {
    display: none;
}
}

@media screen and (max-width: 1158px) { 
    .section-gallery {
        display: none;
    }
    }

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    } 
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
}
}

@media screen and (min-width: 768px) {
    .menu-list {
        display: flex; 
        gap: 40px; 
    }
    .page-navigation {
        display: flex;
        align-items: center;
    }
    
    .adr-header {
        display: flex;
        flex-direction: column;
    }
    .hero-bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .current {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-cont {
        align-items: center;
        display: flex;
    }
    }
    

    .page-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
/*===================HEADER======================*/


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    display: flex;
    align-items: center;
    padding-top: 24px; 
    padding-bottom: 24px;
    padding-left: 16px;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: var(--font-weith-logo);
    font-size: var(--font-size-logo);
    line-height: 21px;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue); 
}
@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }

    .menu-link {
        position: relative;
        font-family: var(--font-family);
        font-weight: var(--font-weith-top);
        font-size: var(--font-size-btn);
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }
    .menu-link {
        display: block;
        padding: 24px 0;
    }
    
    .menu-link:hover,
    .menu-link:focus,
    .menu-link.current {
        color: var(--hover);
    }
    
    .menu-link:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        transform: scaleX(0);
        width: 100%;
        height: 4px;
        background: #404BBF;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-link:hover:after,
    .menu-link:focus:after,
    .menu-link.current:after {
        transform: scaleX(1);
    }
    .last-link {
        margin-right: 0;
    }

    .modal-button {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--slate, #434455);
        font-size: 12px;
        font-family: var(--font-family);
        line-height: 1.16;
        letter-spacing: 0.48px;
        font-style: normal;
    }
    .modal-button {
        display: block;
        margin: 0a;
        margin-bottom: 12px;
        padding-top: 16px;
        padding-right: 16px;
    }
    
    .modal-button:hover,
    .modal-button:focus {
        color: var(--hover);
    }
}

.hero-main {
    background-color: var(--dark-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 428px;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/mob/hero-bg-mob-2x.jpg);
        }
        }

@media screen and (min-width: 768px) {
.hero-main {
    background-color: var(--dark-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/tablet/hero-bg-tab.jpg);
    max-width: 768px;
    height: 436px;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/tablet/hero-bg-tab-2x.jpg);
        }
        }
}



.hero-text {
    margin: 0 auto;
    font-family: var(--font-weith-text);
    font-size: 36px;
    line-height: 1.11; 
    text-align: center;
    letter-spacing: 0.72px;
    color: var(--white);
    max-width: 496px;
}

@media screen and (min-width: 768px) {
.hero-text {
color: var(--white);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
margin: 0 auto;
}
.hero-button {
    margin-top: 36px;
}
}

.hero-button {
    display: flex;
    text-align: center;
    transition: background-color var(--transition-dur-func);
    border: none;
    margin: 0 auto;
    margin-top: 72px;
    display: block;

    font-family: var(--font-family);
    font-weight: var(--font-weith-top);
    font-size: var(--font-size-btn);
    height: 56px;
    min-width: 169px;

    
    line-height: 1.50; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--iris);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer
}

.hero-button:hover,
.hero-button:focus {
    background: var(--hover);
}

/* STRATAGY-section */
.strategy-section {
    padding-bottom: 96px;
    padding-top: 96px;
}

@media screen and (max-width: 1157px) {
    .icon-strategy {
        display: none;
    }
}

.heading-title {
color: var(--navyblue, #2E2F42);
text-align: center;
font-size: 36px;
font-family: Roboto;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 8px;
}

.subheading-title {
color: var(--button);
font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}


@media screen and (max-width: 767px) {
    .item-strategy:not(:last-child) {
        margin-bottom: 72px;
    }
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

@media screen and (min-width: 767px) {
    .strategy-section {
    display: flex;
}
    .strategy-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .item-strategy {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .strategy-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    }

.section-our-team {
    background-color: var(--portfolio-btn);
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* section-GALLERY*/
.galary-list {
    display: flex;
    gap: 24px;
}

.gallery-photo {
    display: block;  
    max-width: 100%; 
    height: auto; 
}

.section-gallery {
    padding-bottom: 120px; 
}


/* section-OUR-TEAM */
@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 64px;
        gap: 24px;
    }

}

@media screen and (min-width:768px) {
    .container {
        max-width: 726px;
    }

    .team-top-text {
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .section-our-team {
        padding: 96px 0 96px;
    }
}

.team-top-text {
    margin-bottom: 72px;
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.item-our-team {
    max-width: 264px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 428px) {
    .item-our-team:not(:last-child) {
        margin-bottom: 72px;
    }
}



.block-team {
    padding: 32px 16px;
}

.heading-title {
color: var(--navy-blue);
text-align: center;
font-size: 20px;
font-family: var(--font-family);
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
margin-bottom: 8px;
}

.subheading-title {
color: var(--button);
text-align: center;
font-size: 16px;
font-family: var(--font-family);
line-height: 1.5;
letter-spacing: 0.32px;
margin-bottom: 8px;
}

.team-cos-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-cos-item {
    width: 40px;
    height: 40px;
}

.social-links {
    transition: background-color var(--transition-dur-func);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
}

.social-links:hover,
.social-links:focus {
    background-color: #404bbf; 
}

.team-svg {
    fill: #F4F4FD;
}


/* CUSTOMERS */
.section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-col);
}
.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    color: #404bbf; 
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.customers-title {
    font-weight: var(--font-weith-text);
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 88px;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        column-gap: 16px;
        row-gap: 72px;
    }
    @media screen and (min-width:768px) {
        .customers-item {
            width: calc((100% - 24px) / 3);
            height: 88px;
            max-width: 168px;
        }

        .customers-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
            column-gap: 16px;
            row-gap: 72px;
        }
    }
    .customers-item {
        width: calc((100% - 16px) / 2);
        height: 88px;
    }

    /* FOOTER */

    
    @media screen and (min-width: 768px) and (max-width: 1157px)  {
        .footer-line {
            padding: 0 0;
        }
        .footer-container {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px;
            max-width: 582px;
            margin-bottom: auto;
        }
        /* .footer-tagline {
            margin-right: 24px;
            margin-bottom: 72px;
        } */
        .subscribe-cont {
            margin-left: 0;
        }
        }

        .foot-block {
            @media screen and (min-width: 768px) {
                    flex-basis: 50%;
            }
        }


        
        .footer-line {
            background-color:var(--navy-blue);
            padding: 96px 0 96px;
            margin: 0 auto;
            }

        .logo-studio-footer {
            display: inline-block;
            font-family: "Raleway", sans-serif;
            font-weight: var(--font-weith-logo);
            font-size: var(--font-size-logo);
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--portfolio-btn);
            
        }
        
        .logo-foot {
            display: inline-block;
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--iris);
            margin-bottom: 16px;
        }

        @media screen and (max-width: 767px) {
            .footer-container {
                width: 320px;
                flex-wrap: wrap;
                text-align: center;
            }
        }

    .footer-cos-list {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .foot-cos-item {
        width: 40px;
        height: 40px;
    }

    .footer-links {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-links:focus,
    .footer-links:hover {
    background-color: #31D0AA;
}

.footer-tagline {
    text-align: center;
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

@media screen and (min-width: 768px) {
    .social-text {
display: flex;
margin-bottom: 16px;
}
}
.social-text {
    text-align: center;
    color: var(--white);
    font-weight: var(--font-weith-top);
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.32px;
    text-align: center;
    }

    .svg-foot {
        fill: #F4F4FD;
    }


/* subscribe */
@media screen and (max-width: 767px) {
.subscribe-cont {
display: flex;
flex-direction: column;
justify-content: space-between;
justify-content: center;
align-items: center;
margin-left: 0;
margin-top: 72px;
}
.form-sbsc {
    margin-bottom: 16px;
}
}

@media screen and (min-width: 768px) {
    .form-sbsc {
    display: flex;
    gap: 24px;
}
}

.subscribe-text {
    font-weight: var(--font-weith-top);
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    }

    .subscribe-email-btn {
        /* display: block; */
        line-height: 1.5;
        background-color: transparent;
        width: 264px;
        height: 40px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-weight: var(--font-weith-low);
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.48px;
        color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        
        } 


        .send-subscribe {
            min-width: 165px;
            height: 40px;

            background: #4D5AE5;
            border-radius: 4px;
            
            color: #FFFFFF;
            fill: #FFFFFF;
            font-weight: var(--font-weith-top);
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            border: none;
            
        }

        .btn-subscribe-icon {
            width: 24px;
            height: 24px;
            margin-left: 16px;
        }

/* <!--MOBILE_MENU--> */

/* @media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
.menu-open-btn {
    display: none;
}
}
} */



.mobile-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--white);
    padding: 80px 24px 40px 40px;

    overflow: auto;
}

.mob-link .current {
    color: var(--ocean);
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: auto;
}



.mobile-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-left: auto;
    margin-bottom: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;


    border-radius: 24px;
    border: 1px solid var(--navyblue, #2E2F42);
    opacity: 0.10000000149011612;
    background: var(--cornflower, #E7E9FC);

    cursor: pointer;
    transition: var(--transition-dur-func);
}

.mob-link {
color: var(--navy-blue);
font-size: 36px;
font-family: var(--font-family);
font-weight: var(--font-weith-text);
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.mob-menu-adress {
    font-style: normal;
}

.list-mob-adress {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}
.mob-tel-link {
display: block;

color: var(--iris, #4D5AE5);
font-size: 36px;
font-family: var(--font-family);
font-weight: var(--font-weith-text);
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.mob-email-link {
    color: var(--button);
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: var(--font-weith-top);
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.mob-cos-list {
    display: flex;
    gap: 56px;
}

.mob-cos-item {
    width: 40px;
    height: 40px;
}
.mob-cos-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-cos-links:focus,
.mob-cos-links:hover {
    background-color: #31D0AA;
}
.mob-cos-svg {
    fill: #F4F4FD;
}



/* .mobile-menu-open .icon-x {
display: none;
}

.mobile-menu-open .is-open .icon-x {
    display: block;
}

.mobile-menu-open .is-open .icon-burger {
    display: none;
} */